/* 오늘 날짜 강조 */
.fc-day-today {
  background-color: #fff7d6; /* 연노랑 */
  border: 2px solid #facc15;
  color: #f0f0f0;
  /* 날짜 숫자 배경색(일) */
  .fc-daygrid-day-number {
    background-color: #608bc1;
    border-radius: 100px;
  }
}

/* 각 날짜별 일정 모음 */
.fc-daygrid-day-events {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 3px;
  .fc-event-main {
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
  }
}

/* 이벤트 색상 및 모양 */
.fc-daygrid-event {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* 파랑 */
  padding: 2px 6px;
  font-size: 0.8rem;
  border: none;
  /* width: 80px; */
}

/* 일정들 표시되는 부분 */
.fc-daygrid-day-frame {
  background-color: #f0f0f0;
}

/* 모든 날짜 숫자(일) */
.fc-daygrid-day-top {
  background-color: #f0f0f0;
}

/* 요일 헤더 스타일(일,월,화,수,목,금,토) */
.fc-col-header-cell {
  background-color: #f1f5f9;
  font-weight: bold;
  font-size: 0.9rem;
}
