/* 전체적인 레이아웃 설정 */
.schedule_edit_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

/* 모달 배경 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 내용 */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 일정 수정 폼 요소들 */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

input[type="text"],
textarea,
.react-datepicker-wrapper {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.save_button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

.save_button:hover {
  background-color: #45a049;
}

/* 버튼 컨테이너 */
.button_container {
  text-align: right;
}
