/* 챗봇 전체 컨테이너 */
.react-chatbot-kit-chat-container {
  width: 100%;
  max-width: 500px;
  height: 90vh; /* 화면 높이의 100% */
  max-height: 750px; /* 최대 높이 제한 */
  min-height: 500px; /* 최소 높이 제한 */
  margin: 0 auto;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  background: #f5f7fa;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

/* 챗봇 이름(헤더) */
.react-chatbot-kit-chat-header {
  color: black;
  font-size: 20px;
  flex-shrink: 0;
}

/* 챗봇 채팅 컨테이너 */
.react-chatbot-kit-chat-inner-container {
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 채팅창 크기 */
.react-chatbot-kit-chat-message-container {
  flex: 1; /* 남은 공간을 모두 차지 */
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 30px;
}

/* 챗봇 메시지 */
.react-chatbot-kit-chat-bot-message-container {
  background: transparent;
}

.react-chatbot-kit-chat-bot-avatar-container,
.react-chatbot-kit-user-avatar-container {
  margin-top: 15px;
}

.react-chatbot-kit-chat-bot-message {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 80%;
  margin-left: 10px;
  margin-right: auto;
  color: black;
  background-color: white !important;
  border: 1px solid black;
  line-height: 1.5;
  padding: 10px;
}

.react-chatbot-kit-user-chat-message {
  display: flex;
  align-items: center;
  line-height: 1.5;
  padding: 10px;
  color: black;
  background-color: white !important;
  border: 1px solid black;
}

/* 챗봇 화살표 */
.react-chatbot-kit-chat-bot-message-arrow {
  border-color: transparent black !important;
  border-style: solid;
  margin-top: 10px;
  border-width: 7px 7px 7px 0px;
}

/* 유저 화살표 */
.react-chatbot-kit-user-chat-message-arrow {
  border-color: transparent black transparent;
  border-style: solid;
  margin-top: 20px;
  border-width: 7px 0px 7px 7px;
}

/* 제출 버튼 */
.react-chatbot-kit-chat-btn-send {
  background-color: white;
}
